body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

#rh-subnav {
    display: none;
}

.byline {
    font: bold 20px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.stamp {
    font: normal 15px "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #1F618D;
    margin-bottom: 5px;
}

.intro {
    max-width: 900px;
    margin: auto;
}


h1 {
    color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 33pt;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

h2 {
    background-color: #E6735A;
    color: white;
    width: 275px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}

h3 {
    font: bold 25px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

h4 {
    font: bold 14px "Open Sans", sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #1F618D;
}

main p {
    color: #333;
    font: normal 15px "PT Serif", serif;
    line-height: 25px;
    margin-top: 15px;
}

div.intro p#datestamp + p:first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 53px;
    line-height: 48px;
    padding-right: 5px;
}

hr {
    margin-top: -7px;
    border-color: #333;
}

.latest-news {
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    max-width: 900px;
    margin: 30px auto;
    padding: 12px;
}

q {
    quotes: '\201C' '\201D';
}

#statues img {
    max-height: 170px;
}

.revenue {
    width: 500px;
    height: 350px;
    max-height: 350px;
    position: relative;
    left: -100px;
}

.caption {
    font: 12px "Open Sans", sans-serif;
    color: #999;
    margin: 20px;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
}

div.ad {
    width: 300px;
    padding-bottom: 10px;
}
div.ad > span {
    font-size: 10px;
    color: #999;
    font-family: sans-serif;
}

.hide { display: none; }

/*  SECTIONS  */

section#statues {
    width: 100%;
    height: auto;
}

section#statues ul {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 20px 20px 20px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

section#statues ul li {
    width: 300px;
    margin: 10px;
    text-align: center;
}

section#statues ul li div p {
    text-align: left;
}

#map h3 {
    margin-bottom: 0;
}
#map p {
    margin-top: 0;
}

/*  READ MORE HANDLER  */
.read-more.collapsed {
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 40px;
}

.read-more {
    position: relative;
    cursor: pointer;
}

.read-more:before {
    display: none;
}

.read-more.collapsed:after {
    content: "Read More \25BE";
    width: 270px;
    padding: 5px 10px 5px 0;
    bottom: -1px;
    z-index: 1;
    text-align: right;
    transition: bottom .4s;
    background: linear-gradient(to right,transparent 0,#8fb0c6 80%,#8fb0c6 100%);
}

.read-more:after {
    content: "Read Less \25B4";
    display: block;
    width: 270px;
    position: absolute;
    right: 2px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font: bold 15px "Open Sans Condensed", sans-serif;
    text-align: right;
    padding: 5px 10px 5px 0;
    transition: bottom .4s;
    background: linear-gradient(to right,transparent 0,#8fb0c6 80%,#8fb0c6 100%);
}

/* HANDHELD-SPECIFIC */
@media only screen and ( min-width: 220px ) and ( max-width:727px ) {
.intro p {
    margin-left: 20px;
    margin-right: 20px;

}

main p {
    text-align: left;
}

.revenue {
    width: 100%;
    height: auto;
    max-height: none;
    position: ;
    left: 0;
}
}
/* TABLET-SPECIFIC */
@media only screen and ( min-width: 728px ) and (max-width:1023px) {
.intro p {
    margin-left: 30px;
    margin-right: 30px;
}
}
/* HANDHELD & TABLET */
@media only screen and ( min-width: 220px ) and (max-width:1023px) {
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
section#profiles ul li {
    flex: 1 0 auto;
}
}


a {
    text-decoration: none;
    color: #2569D3;
}
#ra-share-top {
    width: 100%;
    margin-bottom: 20px;
}
.ra-share, .rt-share {
    position: relative;
}
#ra-share-top li {
    display: inline-block;
}
.ra-share li, .ra-share dd, .rt-share li, .rt-share dd {
    color: white;
    margin-right: 20px;
}
.ra-share-e a, .rt-share-e a,
.ra-share-f a, .rt-share-f a,
.ra-share-t a, .rt-share-t a {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.ra-share-f, .rt-share-f {
    background: #2A6FBF;
}
.ra-share-t, .rt-share-t {
    background: #40BEF1;
}
.ra-share-e, .rt-share-e {
    background: #989898;
}
.ra-share-f:after, .rt-share-f:after {
    content: "\e741";
}
.ra-share-t:after, .rt-share-t:after {
    content: "\e74b";
}
.ra-share-e:after, .rt-share-e:after {
    content: "\e75a";
}
.ra-share a, .rt-share a {
    display: block;
    font-size: 0;
    height: 100%;
    cursor: pointer;
}
.ra-share-f, .rt-share-f, .ra-share-t, .rt-share-t, .ra-share-e, .rt-share-e, .ra-share-p, .rt-share-p, .ra-share-i, .rt-share-i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.ra-share li:after, .ra-share dd:after, .rt-share li:after, .rt-share dd:after {
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.ra-share-f:after, .rt-share-f:after, .ra-share-t:after, .rt-share-t:after, .ra-share-e:after, .rt-share-e:after, .ra-share-p:after, .rt-share-p:after, .ra-share-i:after, .rt-share-i:after {
    font: 16px "themify";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
